
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Chivo', sans-serif;
    background: #121725;
}

.tablet-singer-img, .desktop-singer-img, .dots{
    display: none;
}


.mobile-singer-img{
    width: 100%;
    opacity: 0.1;
}

.img-layover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121725;
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container h1 {
    max-width: 22ch;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    line-height: 38px;
    color: #54E6AF;
}

.container span{
    color: #FFFFFF;
}

.container p{
    margin: 16px auto 36px auto;
    max-width: 35ch;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #C2CBE5;
}

.app-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 50px 30px;
    align-items: center;
}

.app-icons img{
    width: 18%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    order: 1;
    height: 46px;
    width: 327px;
    border-radius: 28px;
    border: none;
    padding-left: 32px;
    opacity: 0.5;
    background: #2C344B;
    color: #FFFFFF;
    outline: none;
    box-shadow: none;
}

.btn{
    z-index: 1;
    order: 3;
    display: block;
    height: 46px;
    width: 326px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 28px;
    border: none;
    background: #54E6AF;
    box-shadow: 0px 2px 4px 0px #54E6AF24;
    color: #121725;  
}

.btn:hover{
    transition: 0.3s;
    background: #B3FFE2;
    cursor: pointer;
    box-shadow: 0px 25px 20px -20px #54E6AF7F;

}

.error-message{
    order: 2;
    position: relative;
    margin: 5px 0 10px -90px;
    font-size: 12px;
    font-weight: 400;
    color: #FB3E3E; 
}

@media only screen and (min-width: 768px) {
.mobile-singer-img, .desktop-singer-img{
    display: none;
}
.icon{
    justify-content:flex-start;
    padding: 50px 0 152px 39px;
}
.tablet-singer-img{
    position: relative;
    display: flex;
    float: right;
}
.container{
    position: relative;
    height: 509px;
    width: 635px;
    margin-left: 39px;
    background: #121725;
}
.container h1{
    padding-top: 93px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0px;  
    text-align: left;
    margin-left: 0;
}
.container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 31px 0 40px 0;
}
.input{
    order: 1;
    position: relative;
    align-self: start;
    height: 56px;
    width: 427px;
}

.btn{
    order: 1;
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
    height: 46px;
    width: 162px;
    text-align: left;
    padding-left: 27px;
}
.error-message{
    align-self: flex-start;
    margin-left: 30px;
    order: 2;
}
.form{
    display: flex;
    flex-direction: column;
}
.app-icons{
    margin: 65px 100px 50px 0;
    order: 3;
}
.app-icons img{
    width: 17.5%;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
.dots {
    position: relative;
    display: flex;
    margin-top: 150px;
    margin-left: 39px;
    z-index: 4;
}
}
@media only screen and (min-width: 1060px) {
    .tablet-singer-img{
        display: none;
    }
    .desktop-singer-img{
        position: relative;
        display: flex;
        float: right;
        margin-top: 130px;
        opacity: 0.8;
    }
    .icon{
        padding: 102px 0 103px 165px;
    }
    .container{
        margin-left: 165px;
        width: 723px;
    }
    .container h1{
        width: 28ch;
        padding-top: 88px;
        font-size: 52px;
        line-height: 62px; 
    }
    .container p{
        max-width: 40ch;
        font-size: 18px;
        line-height: 28px;
    }
    .btn{
        margin-left: -45px;
    }

    .app-icons{
        gap: 30px;
        padding-bottom: 80px;
    }
    .app-icons img{
        width: 16%;
    }
    .dots {
        position: absolute;
        display: flex;
        margin-top: -50px;
        right: 0;
        z-index: 4;
    }
}